<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Facturación.Properties.Settings.eFacturConnectionString"
            connectionString="Data Source=CHOMYDELTORO\MSSQLSERVER2016;Initial Catalog=eFactur;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>